{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}
  
  {% if kirjautunut_kayttaja %}
    <h1>Käyttäjän {{kirjautunut_kayttaja.kayttajatunnus}} luokat</h1>
  {% endif %}

  {% if message %}
    <div class="alert alert-success">
      <ul>
          <li>{{message}}</li>
        </ul>
    </div>
  {% endif %}
    
  <table class="table table-bordered table-striped">
  	<col width="300">
    <col width="80">
    <thead>
      <tr>
        <th>Luokka</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      {% for luokka in luokat %}
      <tr>
        <td>{{luokka.nimi}}</td>
        <td>{{forms.delete_button("#{base_path}/luokat/#{luokka.ltunnus}")}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  {% if errors %}
    <div class="alert alert-danger">
      <ul>
        {% for error in errors %}
          <li>{{error}}</li>
          {% endfor %}
        </ul>
    </div>
  {% endif %}
  

   <form method="post" action="{{base_path}}/luokat">
    <div class="form-group">
      <label>Lisää luokka</label>
        <input name="nimi" class="form-control" placeholder="Kirjoita uuden luokan nimi tähän" type="text">
    <div class="form-group">
      
    <div class="form-group">
      <button class="btn btn-primary">Tallenna</button>
    </div>
  </form>
{% endblock %}