{% extends "base.html" %}
{% block content %}
  <h1>Muistilista</h1>

  {% if message %}
    <div class="alert alert-success">
      <ul>
          <li>{{message}}</li>
        </ul>
    </div>
  {% endif %}

  <p>Tervetuloa Muistilista-applikaatioon!</p>

  <p>Rekisteröityminen ei valitettavasti toimi vielä, mutta jos olet jo rekisteöitynyt käyttäjä, voit huoletta kirjautua sisään ja hallinnoida askareitasi.

  Kirjaudu sisään klikkaamalla yläoikealta "Kirjaudu sisään".</p>


  {% if user_logged_in %}
    
  {% else %}
    <a href="{{base_path}}/etusivu/rekisteroidy" class="btn btn-primary">Rekisteröidy käyttäjäksi</a>
  {% endif %}
  <p>
    
  </p>




{% endblock %}