{% extends "base.html" %}
{% block content %}
  <h1>Muistilista</h1>

  <h1>Rekisteröityminen uudeksi käyttäjäksi</h1>

<!-- Kaikki lomakkeen elementit form-tagin sisään -->
  <form>
    <!-- Tekstikenttä käyttäjätunnukselle -->
    <div class="form-group">
      <label>Käyttäjätunnus</label>
      <input class="form-control" type="text">
    </div>

    <!-- Salasanakenttä salasanalle -->
    <div class="form-group">
      <label>Salasana</label>
      <input class="form-control" type="password">
    </div>

    <button href="#" type="submit" class="btn btn-primary" disabled>Tallenna</button>
  </form>


{% endblock %}