{% extends "base.html" %}
{% block content %}
  <h1>Muistilista</h1>


  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Askare</th>
        <th>Luokka</th>
        <th>Kiireellisyys</th>
        <th></th>
      </tr>
    </thead>
    <!--Listataan askareita -->
    <tbody>
      <tr>
        <td>Tiskaa</td>
        <td>Kotityö</td>
        <td>5</td>
        <th><a class="btn btn-default btn-sm" href="#">Muokkaa</a></th>
      </tr>
      <tr>
        <td>Palauta kandi</td>
        <td>Koulu</td>
        <td>5</td>
        <th><a class="btn btn-default btn-sm" href="#">Muokkaa</a></th>
      </tr>
    </tbody>
  </table>

  <button class="btn btn-primary btn-sm" href="#">Lisää askare</button>
{% endblock %}

