{% extends "base.html" %}
{% block content %}
  <h1>Muistilista</h1>

 <p>
    <a href="{{base_path}}/askareet/uusi" class="btn btn-primary">Lisää askare</a>
  </p>


  <table>
    <col width="300">
    <col width="80">
    <thead>
      <tr>
        <th>Askare</th>
        <th>Kiireellisyys</th>

      </tr>
    </thead>

    <tbody>
      {% for askare in askareet %}
      <tr>
        <td><a href="{{base_path}}/askareet/{{askare.atunnus}}">{{askare.nimi}}</td>
        <td>
        {% if askare.kiireellisyys != 0 %}
        {{askare.kiireellisyys}}
        {% endif %}        
        </td>        
      </tr>
      {% endfor %}
    </tbody>
  </table>



{% endblock %}

