{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}
  <h1>Muistilista</h1>

  <p> Lisätietoja askareesta löydät klikkaamalla askareen nimeä.</p>

  <table class="table table-bordered table-striped">
  	<col width="300">
    <col width="50">
    <col width="50">
    <col width="80">
    <col width="80">
    <thead>
      <tr>
        <th>Askare</th>
        <th>Kiireellisyys</th>
        <th>Status</th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      {% for askare in askareet %}
      <tr>
        <td><a href="{{base_path}}/askareet/{{askare.atunnus}}">{{askare.nimi}} </a>
        </td>
        <td>
          {% if askare.kiireellisyys != 0 %}
            {{askare.kiireellisyys}}
          {% endif %} 
        </td>
        <td>
        {% if askare.status == 0 %}
             <button class="btn btn-danger btn-sm">Tekemättä</button>
        {% else %}
             <button class="btn btn-success btn-sm">Tehty</button>
        {% endif %}        
        </td>
        <th><a href="{{base_path}}/askareet/{{askare.atunnus}}/muokkaa" class="btn btn-default btn-sm">Muokkaa</a></th>
        <th>{{forms.delete_button("#{base_path}/askareet/#{askare.atunnus}/poista")}}</th>      
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <p> <a href="{{base_path}}/askareet/uusi" class="btn btn-primary">Lisää askare</a> </p>
{% endblock %}

