{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}
  
  {% if message %}
    <div class="alert alert-success">
      <ul>
          <li>{{message}}</li>
        </ul>
    </div>
  {% endif %}

  {% if kirjautunut_kayttaja %}
    <h1>Käyttäjän {{kirjautunut_kayttaja.kayttajatunnus}} muistilista</h1>
  {% endif %}
  

  <p>Lisätietoja askareesta löydät klikkaamalla askareen nimeä. Luokan nimeä pääsee muokkaamaan klikkaamalla luokan nimestä, tai luokan listausnäkymästä.</p>

  <table class="table table-bordered table-striped">
  	<col width="300">
    <col width="300">
    <col width="50">
    <col width="50">
    <col width="80">
    <col width="80">
    <thead>
      <tr>
        <th>Askare</th>
        <th>Luokittelu</th>
        <th>Kiireellisyys</th>
        <th>Status</th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      {% for askare in askareet %}
      <tr>
        <td><a href="{{base_path}}/askareet/{{askare.atunnus}}">{{askare.nimi}} </a>
        </td>
        <td> {% for luokka in askare.askareenLuokat %}
          <a href="{{base_path}}/luokat/{{luokka.ltunnus}}" class="tag label label-info green">{{luokka.nimi}}</a>
            {% endfor %} 
        </td>
        <td>
          {% if askare.kiireellisyys != 0 %}
            {{askare.kiireellisyys}}
          {% endif %} 
        </td>
        <td>
        {% if askare.status == 0 %}
             <button class="btn btn-danger btn-sm">Tekemättä</button>
        {% else %}
             <button class="btn btn-success btn-sm">Tehty</button>
        {% endif %}        
        </td>
        <th><a href="{{base_path}}/askareet/{{askare.atunnus}}/muokkaa" class="btn btn-default btn-sm">Muokkaa</a></th>
        <th>{{forms.delete_button("#{base_path}/askareet/#{askare.atunnus}/poista")}}</th>      
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <p> <a href="{{base_path}}/askareet/uusi" class="btn btn-primary">Lisää askare</a> </p>
{% endblock %}

