{% extends "base.html" %}
{% block content %}
  <h1>Muokkaa askaretta {{askare.kuvaus}}</h1>

  <form>
    <div class="form-group">
      <label>Askare</label>
      <input class="form-control" value="{{askare.kuvaus}}" type="text">
    </div>
    <div class="form-group">
      <label>Tärkeysjärjestys (1-5 tai tyhjä)</label>
      <input class="form-control" value="{{askare.kiireellisyys}}" type="text">
    </div>
    <div class="form-group">
      <label>Valitse askareelle luokkia</label>
      <button type="submit" class="btn btn-default active">Kotityöt</button>
      <button type="submit" class="btn btn-default">Koulu</button>
    </div>
    <div class="form-group">
      <label>Lisätiedot</label>
      <input class="form-control" value="{{askare.lisatiedot}}" type="text">
    </div>
    
    <div class="form-group">
      <button class="btn btn-primary">Tallenna muutokset</button>
    </div>
  </form>
{% endblock %}
